[submodule "openthread"]
	path = openthread
	url = https://github.com/openthread/openthread.git
[submodule "third_party/silabs/simplicity_sdk"]
	path = third_party/silabs/simplicity_sdk
	url = git@github.com:LevelHome/simplicity_sdk.git
