#
#  Copyright (c) 2022, The OpenThread Authors.
#  All rights reserved.
#
#  Redistribution and use in source and binary forms, with or without
#  modification, are permitted provided that the following conditions are met:
#  1. Redistributions of source code must retain the above copyright
#     notice, this list of conditions and the following disclaimer.
#  2. Redistributions in binary form must reproduce the above copyright
#     notice, this list of conditions and the following disclaimer in the
#     documentation and/or other materials provided with the distribution.
#  3. Neither the name of the copyright holder nor the
#     names of its contributors may be used to endorse or promote products
#     derived from this software without specific prior written permission.
#
#  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
#  AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
#  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
#  ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
#  LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
#  CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
#  SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
#  INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
#  CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
#  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
#  POSSIBILITY OF SUCH DAMAGE.
#

name: Build

on:
  push:
    branches-ignore:
      - 'dependabot/**'
  pull_request:
    branches:
      - 'main'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || (github.repository == 'openthread/ot-efr32' && github.run_id) || github.ref }}
  cancel-in-progress: true

jobs:
  docker:
    name: Docker
    uses: ./.github/workflows/docker.yml

  arm-gcc:
    name: Arm GNU Toolchain ${{ matrix.gcc_ver }}
    runs-on: ubuntu-22.04
    needs: [docker]
    continue-on-error: true
    permissions:
      contents: read
    env:
      container_name: ot-efr32-dev
      TOOLCHAIN_DIR: .toolchain
    strategy:
      fail-fast: false
      matrix:
        include:
          - gcc_ver: 12.2.Rel1
            gcc_download_url: https://developer.arm.com/-/media/Files/downloads/gnu/12.2.rel1/binrel/arm-gnu-toolchain-12.2.rel1-x86_64-arm-none-eabi.tar.xz
            gcc_extract_dir: arm-gnu-toolchain-12.2.rel1-x86_64-arm-none-eabi
          - gcc_ver: 12.3.Rel1
            gcc_download_url: https://developer.arm.com/-/media/Files/downloads/gnu/12.3.rel1/binrel/arm-gnu-toolchain-12.3.rel1-x86_64-arm-none-eabi.tar.xz
            gcc_extract_dir: arm-gnu-toolchain-12.3.rel1-x86_64-arm-none-eabi

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: true

      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ matrix.gcc_ver }}
          verbose: 2

      - name: Restore ARM Toolchain
        uses: actions/cache@v5
        id: cache-arm-toolchain
        with:
            path: ${{ env.TOOLCHAIN_DIR }}/${{ matrix.gcc_extract_dir }}
            key: ${{ matrix.gcc_extract_dir }}

      - name: Bootstrap ARM Toolchain
        run: script/bootstrap arm_toolchain ${{ matrix.gcc_download_url }} ${{ matrix.gcc_extract_dir }} ${{ env.TOOLCHAIN_DIR }}

      - name: Download Docker image
        uses: actions/download-artifact@v7
        with:
          name: ${{ needs.docker.outputs.artifact_name }}

      - name: Load docker image
        run: docker load -i ${NEEDS_DOCKER_OUTPUTS_IMAGE_NAME}.tar
        env:
          NEEDS_DOCKER_OUTPUTS_IMAGE_NAME: ${{ needs.docker.outputs.image_name }}

      - name: Start ot-efr32-dev container
        run: |
          docker run \
            --rm -it -d \
            --user $(id -u) \
            --name ${{ env.container_name }} \
            --env CCACHE_DIR=/ot-efr32/.ccache \
            -v $PWD:/ot-efr32 -w /ot-efr32\
            ${NEEDS_DOCKER_OUTPUTS_IMAGE_NAME}
        env:
          NEEDS_DOCKER_OUTPUTS_IMAGE_NAME: ${{ needs.docker.outputs.image_name }}

      - name: Append LFS include config to simplicity_sdk .lfsconfig
        run: |
          git -C third_party/silabs/simplicity_sdk checkout -- .lfsconfig
          echo 'fetchinclude = "platform/emdrv/nvm3/lib/libnvm3_*_gcc.a,platform/radio/rail_lib/autogen/librail_release/librail_config_mgm*_gcc.a,platform/radio/rail_lib/autogen/librail_release/*efr32xg*_gcc_release.a"' >> third_party/silabs/simplicity_sdk/.lfsconfig

      - name: Create LFS file hash list
        run: git -C third_party/silabs/simplicity_sdk lfs ls-files -l | cut -d' ' -f1 | sort > .lfs-assets-id

      - name: Restore simplicity_sdk LFS cache
        uses: actions/cache@v5
        id: lfs-cache-simplicity_sdk
        with:
            path: .git/modules/third_party/silabs/simplicity_sdk/lfs
            key: lfs-${{ hashFiles('.lfs-assets-id') }}

      - name: Git LFS Pull
        run: git -C third_party/silabs/simplicity_sdk lfs pull

      - name: Build
        run: docker exec ${{ env.container_name }} bash -c 'PATH=${{ env.TOOLCHAIN_DIR }}/${{ matrix.gcc_extract_dir }}/bin:$PATH script/test'

      - name: Gather SLC generated files
        if: failure()
        run: |
          rm -rf artifact && mkdir artifact
          for b in build/*/slc; do
              board=$(basename $(dirname "${b}"))

              echo "Artifacting '${board}'"
              mkdir -p "artifact/${board}"
              mv "build/${board}/slc" "artifact/${board}"
          done

      - uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: build-${{ matrix.gcc_ver }}
          path: artifact

  dockerhub-publish:
    name: DockerHub Publish
    uses: ./.github/workflows/dockerhub-publish.yml
    needs: [docker, arm-gcc]
    if: github.event_name == 'push' && github.ref == 'refs/heads/main' && github.repository_owner == 'SiliconLabs'
    with:
      artifact_name: ${{ needs.docker.outputs.artifact_name }}
      image_name: ${{ needs.docker.outputs.image_name }}
      new_image_name: siliconlabsinc/ot-efr32-dev:latest
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_PERSONAL_ACCESS_TOKEN: ${{ secrets.DOCKERHUB_PERSONAL_ACCESS_TOKEN }}
